<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    </head>
    <body>
        Bonjour {{ user.username|capitalize }},<br/>
        Nous avons détécté que vous possédez
        {% if {{ documents|length }} == 1 %}
            {{ documents|length }} document périmé:
        {% else %}
            {{ documents|length }} documents périmés:
        {% endif %}
        <br/>
        {% for document in documents %}
            <div class="col-md-3 col-sm-6">
                <a href="{{ url('doc_manager_document_view', {'id':document.id}) }}" class="thumbnail document-thumbnail">
                    <img class="img-rounded img-responsive" src="{{ asset(document.webPath) }}">
                    <div class="caption">
                        <p class="document-name">{{ document.name }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
        30 jours après leurs date de péremption ces documents seront supprimés.<br/>
        Si vous souhaitez les conserver, nous vous prions de bien vouloir changer leurs dates de péremption à une date valide.<br/>
        Cordialement,<br/>
        <br/>
        Damien ORNY
    </body>
</html>