{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="well">
        <h2>Inscription</h2>
        {{ form_start(form, {'attr':{'class' : 'form-horizontal'}}) }}
        <div class="form-group">
            {{ form_label(form.email,"Email",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.email, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.username,"Nom d'utilisateur",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.username, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first,"Mot de passe",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.first, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second,"Vérification du mot de passe",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.plainPassword.second, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}