{% extends 'layout.html.twig' %}

{% block title %}
Ajout - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="well">
        {{ form_start(form, {'attr':{'class' : 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.name,"Nom du document",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.description,"Description du document",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.documentDate,"Date du document",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.documentDate, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            {% if form_errors(form.expirationDate) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.expirationDate) }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.expirationDate,"Date d'expiration du document",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.expirationDate, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            {% if form_errors(form.file) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.file) }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.file,"Image",{'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-4">
                    {{ form_widget(form.file, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            {% macro categoryCollectionItem(formData) %}
                    <div class="input-group" style="margin-bottom: 10px">
                        {{ form_widget(formData.name, {'attr' : {'class' : 'form-control tags'}}) }}
                        <span class="input-group-btn">
                                <button class="btn btn-danger btn-supprimer" type="button"><i class="fa fa-trash-o"></i></button>
                        </span>
                    </div>
            {% endmacro %}
            <div class="form-group">
                <div class="col-sm-3 control-label">
                    {{ form_label(form.categories, "Catégories") }}
                </div>
                <div class="categories col-sm-4" data-prototype="{{ _self.categoryCollectionItem(form.categories.vars.prototype)|e }}">
                    <button class="btn btn-default btn-plus" style="margin-bottom: 10px"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="col-sm-offset-3">
                {{ form_row(form.save, {'attr' : {'class' : 'btn btn-primary'}, 'label' : 'Sauvegarder'}) }}
            </div>
            {% do form.categories.setRendered %}
        {{ form_end(form) }}
    </div>
    <script type="application/javascript">
        var availableTags = [
            {% for category in categories %}
            {% spaceless %}
            "{{ category.name }}"{% if not loop.last %},{% endif %}
            {% endspaceless %}
            {% endfor %}
        ];
        $(document).ready(function(){
            var $container = $(".categories");
            var index = 0;
            addCategory($container);

            $('.btn-supprimer').click(function(){
                $(this).parent().parent().remove();
            });


            $('.btn-plus').click(function(e) {
                addCategory($container);
                return false;
            });


            function addCategory($container) {
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                $container.append($prototype);

                $(".btn-supprimer").unbind().click(function(){
                    $(this).parent().parent().remove();
                });
                $( "input.tags" ).autocomplete({
                    source: availableTags
                });
                index++;
            }

            $( "input.tags" ).autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}