{% extends 'layout.html.twig' %}

{% block title %}
    Suppression - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="well">
        Vous êtes sur le point de supprimer le document {{ document.name }}.
        <p style="text-align: center"><img style="max-width: 100%" src="{{ asset(document.webPathThumbnail) }}"></p>
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-danger" type="submit">
                <i class="fa fa-trash-o"></i> Supprimer
            </button>
            <a class="btn btn-primary" href="{{ path('doc_manager_document_view', {'slug': document.slug}) }}">Annuler</a>
        {{ form_end(form) }}
    </div>
{% endblock %}