{% extends 'layout.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('css/docmanager.css') }}"
{% endblock %}
{% block body %}


    <div class="alert alert-danger">
        Les documents figurant ici sont périmés. Ils seront supprimés automatiquement 30 jours après leur date de péremption. Pensez à les sauvegarder si besoin.
    </div>
    <div class="document-list">
        {% for document in documents %}
            <div class="col-md-3 col-sm-6">
                <a href="{{ path('doc_manager_document_view', {'slug':document.slug}) }}" class="thumbnail document-thumbnail" {% if document.outDated %}style="background-color: #f2dede" {% endif %}>
                    <img class="img-rounded img-responsive image-zoom" src="{{ asset(document.webPathThumbnail) }}" data-zoom-image="{{ asset(document.webPathThumbnail) }}">
                    <div class="caption">
                        <p class="document-name">{% if document.outDated %}<i class="fa fa-exclamation-triangle text-danger"></i> {% endif %}{{ document.name }}</p>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="col-sm-offset-6">
                <i class="fa fa-thumbs-o-up fa-5x"></i>
            </div>

        {% endfor %}
    </div>
{% endblock %}