{% extends 'layout.html.twig' %}

{% block title %}
    Modification - {{ parent() }}
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('css/docmanager.css') }}"
{% endblock %}
{% block body %}
    <div class="col-md-8 well document">
        <h1>{{ document.name }}</h1>
            {% if document.outDated %}
                <div class="alert alert-danger document-perime" style="text-align: center">
                    <i class="fa fa-exclamation-triangle"></i> Document périmé depuis le {{ document.expirationDate|date("d/m/Y") }}
                </div>
            {% else %}
                {% if document.expirationDate is null %}
                    <h1><small class="dated-peremption">Ce document n'a pas de date de péremption</small></h1>
                {% else %}
                    <h1><small class="dated-peremption">Ce document expirera le {{ document.expirationDate|date("d/m/Y") }}</small></h1>
                {% endif %}
            {% endif %}
        {% if document.outDated %}
            <div style="display: none;" class="alert alert-danger explication-peremption">
                Ce document est expiré. Afin de ne pas surcharger votre gestionnaire de documents en ligne, il sera supprimé automatiquement le {{ document.deleteDate|date('d/m/Y') }}.<br/>
                {% if is_granted('ROLE_PREMIUM') %}
                    Vous pouvez modifier ou supprimer la date de péremption en modifiant le document
                {% else %}
                    Seuls les utilisateurs premium peuvent modifier ou supprimer la date de péremption de leurs documents
                {% endif %}
            </div>
        {% endif %}
        {% if document.pdf %}
            <iframe width="100%" height="600px" src="{{ asset('js/pdf/web/viewer.html') }}?file={{ asset(document.webPath) }}"></iframe>
        {% else %}
            <p style="text-align: center"><img style="max-width: 100%" src="{{ asset(document.webPath) }}"></p>
        {% endif %}
        <h4>Document émis le : {{ document.documentDate|date("d/m/Y") }}</h4>
        <p>{{ document.description|raw }}</p>
        <a class="btn btn-danger" href="{{ path('doc_manager_document_delete', {'slug' : document.slug}) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
        <a class="btn btn-primary" href="{{ path('doc_manager_document_edit', {'slug' : document.slug}) }}"><i class="fa fa-pencil-square-o"></i> Modifier</a>
        <a class="btn btn-default" href="{{ path('doc_manager_document_download', {'slug' : document.slug}) }}"><i class="fa fa-download"></i> Télécharger</a>
    </div>
    <div class="col-md-3 col-md-offset-1 well">
        <h2>Catégories <small><button class="btn btn-default btn-plus"><i class="fa fa-plus"></i></button></small></h2>
        {{ form_start(form) }}
            {% macro categoryCollectionItem(formData) %}
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(formData.name, {'attr' : {'class' : 'form-control tags'}}) }}
                        <span class="input-group-btn">
                                <button class="btn btn-danger btn-supprimer" type="button"><i class="fa fa-trash-o"></i></span></button>
                        </span>
                    </div>
                </div>
            {% endmacro %}

            <div class="categories" data-prototype="{{ _self.categoryCollectionItem(form.categories.vars.prototype)|e }}">
                {% for category in form.categories %}
                    {{ _self.categoryCollectionItem(category) }}
                {% endfor %}
            </div>
            <div style="text-align: right">
                {{ form_row(form.save, {'attr' : {'class' : 'btn btn-primary'}, 'label' : 'Sauvegarder'}) }}
            </div>
        {{ form_end(form) }}
    </div>
    <script type="application/javascript">
        var availableTags = [
            {% for category in categories %}
            {% spaceless %}
            "{{ category.name }}"{% if not loop.last %},{% endif %}
            {% endspaceless %}
            {% endfor %}
        ];
        $(document).ready(function(){
            var $container = $(".categories");

            $('.btn-supprimer').click(function(){
                $(this).parent().parent().parent().remove();
            });

            $('.btn-plus').click(function(e) {
                addCategory($container);
                return false;
            });

            var index = $container.find(':input').length;

            function addCategory($container) {
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                $container.append($prototype);


                $(".btn-supprimer").unbind().click(function(){
                    $(this).parent().parent().parent().remove();
                });
                $( "input.tags" ).autocomplete({
                    source: availableTags
                });
                index++;
            }
        });


        $( "input.tags" ).autocomplete({
            source: availableTags
        });

        $('.document-perime').click(function(){
            $('.explication-peremption').slideToggle();
        });
    </script>
{% endblock %}