{% extends 'layout.html.twig' %}

{% block title %}
    Modification - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="col-md-8 well">
        <h1>{{ document.name }}</h1>
        <p style="text-align: center"><img style="max-width: 100%" src="{{ asset(document.webPath) }}"></p>
        <p>{{ document.description|raw }}</p>
        <a class="btn btn-danger" href="{{ path('doc_manager_document_delete', {'slug' : document.slug}) }}"><i class="fa fa-trash-o"></i> Supprimer</a>
        <a class="btn btn-primary" href="{{ path('doc_manager_document_edit', {'slug' : document.slug}) }}"><i class="fa fa-pencil-square-o"></i> Modifier</a>
    </div>
    <div class="col-md-3 col-md-offset-1 well">
        <h2>Catégories <small><button class="btn btn-default btn-plus"><i class="fa fa-plus"></i></button></small></h2>
        {{ form_start(form) }}
            {% macro categoryCollectionItem(formData) %}
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(formData.name, {'attr' : {'class' : 'form-control tags'}}) }}
                        <span class="input-group-btn">
                                <button class="btn btn-danger btn-supprimer" type="button"><i class="fa fa-trash-o"></i></span></button>
                        </span>
                    </div>
                </div>
            {% endmacro %}

            <div class="categories" data-prototype="{{ _self.categoryCollectionItem(form.categories.vars.prototype)|e }}">
                {% for category in form.categories %}
                    {{ _self.categoryCollectionItem(category) }}
                {% endfor %}
            </div>
            <div style="text-align: right">
                {{ form_row(form.save, {'attr' : {'class' : 'btn btn-primary'}, 'label' : 'Sauvegarder'}) }}
            </div>
        {{ form_end(form) }}
        {% for category in document.categories %}
            <span class="label label-primary">{{ category.name }}</span>
        {% endfor %}
    </div>
    <script type="application/javascript">
        var availableTags = [
            {% for category in categories %}
            {% spaceless %}
            "{{ category.name }}"{% if not loop.last %},{% endif %}
            {% endspaceless %}
            {% endfor %}
        ];
        $(document).ready(function(){
            var $container = $(".categories");

            $('.btn-supprimer').click(function(){
                $(this).parent().parent().parent().remove();
            });

            $('.btn-plus').click(function(e) {
                addCategory($container);
                return false;
            });

            var index = $container.find(':input').length;

            function addCategory($container) {
                var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
                        .replace(/__name__/g, index));

                $container.append($prototype);


                $(".btn-supprimer").unbind().click(function(){
                    $(this).parent().parent().parent().remove();
                });
                $( "input.tags" ).autocomplete({
                    source: availableTags
                });
                index++;
            }
        });


        $( "input.tags" ).autocomplete({
            source: availableTags
        });
    </script>
{% endblock %}